body {
}
* {
  padding: 0 auto;
  margin: 0;
  list-style: none;
}
.header {
  display: flex;
  background-color: rgba(22, 22, 23, 0.8);
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  height: 44px;
}
.header ul {
  display: flex;
  border: 1px solid red;
}
.header ul li {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  border: 1px solid red;
  line-height: 44px;
}

